html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    margin-top: 1rem;

    & nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;

        & a img {
            max-height: 3rem;
        }

        & li {
            list-style: none;
            display: flex;

            & a {
                text-decoration: none;
                color: white;
                font-weight: bold;
                background-color: black;
                padding: .5rem;
                border-radius: .313rem;
            }

            & a:hover {
                transition: 200ms;
                color: black;
                font-weight: bold;
                background-color: white;
                
                & .bi-house-fill {
                    color: black;
                }
            }
        }
    }
}

@media screen and (max-width: 920px) {
    header nav ul {
        flex-direction: column;
        gap: 1.25rem;
    }
}

.bi-brightness-high-fill {
    color: yellow;
}

.bi-cursor-fill {
    color: deepskyblue;
}

.nav-form input[type="text"] {
    padding: 0.5rem;
    border-radius: 0.313rem;
    border: 1px solid #ccc;
}

.nav-form-button {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: transparent;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.nav-form-button:hover{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 0.5rem;
    transition: 200ms;
    cursor: pointer;
    border-radius: 0.5rem;
    border-color: black;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 5rem;
}

.container .aside-left {
    right: 1rem;
}

.container .aside-right {
    left: 1rem;
}

.container aside {
    position: relative;
    padding: 1rem;
    border-radius: 0.5rem;
}

.container aside h2 {
    font-size: large;
    margin-bottom: 1rem;
    font-weight: bold;
    border-bottom: .25rem solid black;
    border-radius: .5rem;
    padding: .5rem;
}

.container aside ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
}

.container aside ul li {
    border: 1px solid black;
    background-color: transparent;
    padding: .5rem;
    width: 75%;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: bold;
}

.container aside ul li a {
    text-decoration: none;
    color: black;
}

.container aside ul li:hover {
    background-color: black;
    transition: 200ms;
}

.container aside ul li:hover a {
    color: white;
}

.container main {
    position: relative;
    width: 33.33%;
}

.container main h2 {
    font-weight: bold;
    font-size: large;
    margin-bottom: 1rem;
    border: 2px solid black;
    border-radius: 2rem;
    padding: .5rem;
}

.container main h3 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.container main .main-h2 {
    display: flex;
    justify-content: center;
}

.container main .main-h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: large;
    margin-bottom: 1rem;
    border: 2px solid black;
    border-radius: 2rem;
    padding: .75rem;
}

.container main .main-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
}

.container main .main-article ul {
    flex-direction: column;
    gap: 1.5rem;
    font-weight: bold;
}

.container main .main-article table {
    width: 100%;
    text-align: center;
    border-radius: 1em;
}

.container main .main-article th {
    font-weight: bold
}

.container main .main-article td, th {
    padding: .5em;
    border-bottom: 2px solid black; 
}

.container main ul {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1.5rem;
}

.container main ul li a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: .5rem;
    border-radius: .25rem;
}

.container main ul li a:hover {
    color: white;
    background-color: black;
    transition: 200ms;
}